table.t-stbl {
    padding: 0em 1em 0.5em 1em;
    flex-direction: column;
    display: flex;
}

.t-stbl td.t-hr {
    border-top: 1px solid var(--pst-color-surface);
    padding: 0
}

.t-stbl span.t-decl-id {
    color: var(--pst-color-on-surface);
    font-style: italic;
}

.t-stbl span.t-decl-opt {
    color: var(--pst-color-primary);
    font-style: italic;
    padding-left: 0;
    font-size: small;
}

.t-stbl td.t-no {
    padding-left: 2em;
}

table.t-par-begin {
    flex-direction: column;
    display: flex;
}

tr.t-bar {
    vertical-align: top;
}

tr.t-par>td {
    vertical-align: top;
    padding: 0 1em 0 0;
}

tr.t-par>td:nth-child(1) {
    white-space: nowrap;
    text-align: right;
    font-weight: bold;
    font-family: var(--pst-font-family-monospace-system);
}

tr.t-par>td:nth-child(3) {
    width: 100%
}